<div class="col-12 col-lg-6 d-flex">
    <div class="main-card flex-grow-1">
        <div class="row">
            <div class="col-12 position-relative">
                <h4 class="text-center my-2">{{item_name}}</h4>
            </div>
        </div>
        <div class="row">
            <div class="col-3 d-flex flex-column align-items-center">
                <h5 class="text-center">{{category}}</h5>
                {{{get_icon category}}}
            </div>
            <div class="col-6">
                <h5>Description</h5>
                <p>{{description}}</p>
                {{#if link_1}}
                <div>
                    <a href="{{link_1}}" class="shop-link" target="_blank">Shop link 1</a>
                </div>
                {{/if}}
                {{#if link_2}}
                <div>
                    <a href="{{link_2}}" class="shop-link">Shop link 2</a>
                </div>
                {{/if}}
                {{#if link_3}}
                <div>
                    <a href="{{link_3}}" class="shop-link">Shop link 3</a>
                </div>
                {{/if}}
            </div>
            <div class="col-3 d-flex justify-content-center">
                <div class="row">
                    <div class="col-12">
                        {{#if friend}}
                        {{#if purchased}}
                        <h5 class="text-center">Taken</h5>
                        <form>
                            <div class="form-group d-flex justify-content-center">
                                <button type="submit" class="btn">
                                    <span style="color:#565656">
                                        <i class="far fa-clock fa-4x"></i>
                                    </span>
                                </button>
                            </div>
                        </form>
                        {{else}}
                        <h5 class="text-center">Gotcha</h5>
                        <form class="friend-gift">
                            <div class="form-group d-flex justify-content-center">
                                <button type="submit" class="btn">
                                    <span style="color:green">
                                        <i class="fa fa-check fa-4x" data-id="{{item_id}}"></i>
                                    </span>
                                </button>
                            </div>
                        </form>
                        {{/if}}
                        {{else}}
                        <h5 class="text-center">Delete</h5>
                        <form class="delete">
                            <div class="form-group d-flex justify-content-center">
                                <button class="btn">
                                    <span style="color:red">
                                        <i class="fa fa-times fa-4x" data-id="{{item_id}}"></i>
                                    </span>
                                </button>
                            </div>
                        </form>
                        {{/if}}
                    </div>
                </div>
            </div>
        </div>
    </div>
</div>